/Clase 00

# Common files

.DS_Store
/**/.DS_Store
/node_modules
/**/node_modules
**/**/node_modules

# /Clase 00/Profe/Ejercicio
# /Clase 00/Profe/Desafío

/Clase 10 - 11/Profe/Workshop
/Clase 16/Profe/Ejercicio
/Clase 16/Profe/Desafío

#/Clase 02
#/Clase 03
#/Clase 04
#/Clase 05
#/Clase 06
#/Clase 07
#/Clase 08
#/Clase 09
#/Clase 10 - 11
#/Clase 12
#/Clase 13
#/Clase 14
#/Clase 15
#/Clase 16
/Clase 17 - 18
